<nav class="nav">
  <ul class="nav__links">
    <li><a href="/" class="nav__link">Home</a></li>
    <li><a href="/list" class="nav__link">List</a></li>
    <li><a href="/login" class="nav__link">Login</a></li>
  </ul>
</nav>